button:not(.addOrMinus) {
    width: 50%;
    border: none;
    background: #3aa273;
    color: #fff;
    padding: 10px;
    border-radius: 0.25rem;
    cursor: pointer;
}
button:not(.addOrMinus):hover {
    background: #217750;
}
h2 {
    margin: 0;
}
.d-flex {
    display: flex;
}
.content {        
    width: 50%;
    margin: 0 auto;    
}
.content > div {
    justify-content: center;
    flex-wrap: nowrap;
    flex: 1;
}
.content img {
    width: 100%;
}
.detail {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail p:first-child {
    border: 1px solid;
    padding: 5px;
}
.dialog-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    top: 0;
    left: 0;
}
.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
}
.h3 {
    font-size: 26px;
    display: inline-block;
    margin: 0 10px;
}
.addOrMinus {
    cursor: pointer;
}
.result-btn {
    margin-top: 15px;
}
.result-btn button:last-child {
    background: #fd3a00;
    margin-left: 10px;
}
.result-btn button:last-child:hover {
    background: #cc3405;
}
button.text-reservation {
    background: #6dac08;
}
button.text-reservation:hover {
    background: #55810e;
}
button.text-status {
    background: gray;
    cursor: default;
}
button.text-status:hover {
    background: gray;
}
.plus-block {
    justify-content: center;
    flex:none;
}
.counterInput {
    width: 20%;
    flex:none;
    padding: 0 10px;
    text-align: center;
    font-size: 24px;
    border: none;
}